ArbilTestingCheck4.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- This file is generated from Arbiltestcases.txt! Modifications will be lost when regenerated! -->

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ann="http://www.clarin.eu">

    <xs:element name="BugCheck">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="DateTime" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The date time the test was started" ann:displaypriority="1"/>

                <xs:element name="ProgramVersion" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The version of the application being tested" />

                <xs:element name="OSVersion" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The operating system type and version being tested on" />


                <xs:element name="NodeSearchTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="OpenSearchWindow" maxOccurs="1" minOccurs="1" ann:documentation="From the local corpus tree right click and select search; a search window should be shown." type="TestResult" />

                            <xs:element name="LocalSearch" maxOccurs="1" minOccurs="1" ann:documentation="From the local corpus tree right click and select search; enter a few seach terms then run the search" type="TestResult" />

                            <xs:element name="RemoteSearch" maxOccurs="1" minOccurs="1" ann:documentation="Still INCOMPLETE! From the remote corpus tree right click and select search; enter a remote search term and a local filter term then run the search." type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="GetMetadataTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="AddCorpus" maxOccurs="1" minOccurs="1" ann:documentation="Right-click on 'Local Corpus' and choose 'Add' / 'Corpus' " type="TestResult" />

                            <xs:element name="AddSession" maxOccurs="1" minOccurs="1" ann:documentation="Right-click on 'Local Corpus' and choose 'Add' / 'Session' " type="TestResult" />

                            <xs:element name="ImportExistingBranch" maxOccurs="1" minOccurs="1" ann:documentation="Right-click on the branch or session you want in the Remote Corpus Tree. Choose 'Import to Local Corpus'. Then click 'Start'." type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="HandleNodesTests" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="DeleteNodeKey" maxOccurs="1" minOccurs="1" ann:documentation="Can a node be deleted via the [del] key?" type="TestResult" />

                            <xs:element name="DeleteNodeMenu" maxOccurs="1" minOccurs="1" ann:documentation="Can a node be deleted via the right-click menu?" type="TestResult" />

                            <xs:element name="DropNode" maxOccurs="1" minOccurs="1" ann:documentation="Click on a node and drag it to the Main Work Area. Does it open a table?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="NodeRightMouseMenu" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="OpenInExternalApp" maxOccurs="1" minOccurs="1" ann:documentation="Does it launch the resource file in an external application?" type="TestResult" />

                            <xs:element name="ViewXML" maxOccurs="1" minOccurs="1" ann:documentation="Does it open a window with the XML source code?" type="TestResult" />

                            <xs:element name="ViewImdiFormatted" maxOccurs="1" minOccurs="1" ann:documentation="??? not working?" type="TestResult" />

                            <xs:element name="OpenImdiFormatted" maxOccurs="1" minOccurs="1" ann:documentation="??? not working?" type="TestResult" />

                            <xs:element name="ExportImdiToHtml" maxOccurs="1" minOccurs="1" ann:documentation="??? only exporting .js and .gif files?" type="TestResult" />

                            <xs:element name="CheckXmlConformance" maxOccurs="1" minOccurs="1" ann:documentation="Does it perform an XML check and open a window with the results?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="ColumnsTests" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="HideColumns" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to hide columns (by right-clicking on the column name and choosing 'hide...')?" type="TestResult" />

                            <xs:element name="ArrangeColumns" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to change a column's positions with drag and drop?" type="TestResult" />

                            <xs:element name="ShowChildNodes" maxOccurs="1" minOccurs="1" ann:documentation="Can identical child nodes be displayed in an additional column (e.g. several Actors' languages)?" type="TestResult" />

                            <xs:element name="SaveColumnView" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to save a column-view under a custom name?" type="TestResult" />

                            <xs:element name="EditColumnView" maxOccurs="1" minOccurs="1" ann:documentation="Does 'Edit this Column View' work as expected (immidiately showing and hiding table rows)?" type="TestResult" />

                            <xs:element name="ShowOnlyCurrent" maxOccurs="1" minOccurs="1" ann:documentation="Does this hold the current Column View (with maybe some columns hidden) when adding more elements with other nodes?" type="TestResult" />

                            <xs:element name="ColumnViewForThis" maxOccurs="1" minOccurs="1" ann:documentation="Can saved views be applied?" type="TestResult" />

                            <xs:element name="CopyTableWeb" maxOccurs="1" minOccurs="1" ann:documentation="Is the table properly copied in HTML layout?" type="TestResult" />

                            <xs:element name="FindAndReplace" maxOccurs="1" minOccurs="1" ann:documentation="Does find and replace work in tables?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="FilesTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="AddWorkingDirectory" maxOccurs="1" minOccurs="1" ann:documentation="Can several directories be added and removed ('Files' area)?" type="TestResult" />

                            <xs:element name="AddJpegImage" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to add a JPEG image? Is a preview displayed? Is the file size correct?" type="TestResult" />

                            <xs:element name="AddPngImage" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to add a JPEG image? Is a preview displayed? Is the file size correct?" type="TestResult" />

                            <xs:element name="AddOgg" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to add an OGG Vorbis audio file?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="FavouritesTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="AddToFavourites" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to add elements (sessions, actors, ...) from the Local Corpus to the Favourites?" type="TestResult" />

                            <xs:element name="AddFromFavourites" maxOccurs="1" minOccurs="1" ann:documentation="Do node elements (actors, media files, ...) from the Favourites show up in the right-click menu 'Add from Favourites' (when clicking on a sesion in the Local Corpus)?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="FileMenuTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="SaveChanges" maxOccurs="1" minOccurs="1" ann:documentation="Does 'Save Changes' really save your changes?" type="TestResult" />

                            <xs:element name="ShowModifiedNodes" maxOccurs="1" minOccurs="1" ann:documentation="Does this show all modified nodes?" type="TestResult" />

                            <xs:element name="Import" maxOccurs="1" minOccurs="1" ann:documentation="Does the 'Import' function work?" type="TestResult" />

                            <xs:element name="Exit" maxOccurs="1" minOccurs="1" ann:documentation="Do you get a warning when trying to exit with unsaved modifications?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="OptionsMenuTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="TemplatesAndProfiles" maxOccurs="1" minOccurs="1" ann:documentation="Does it show profiles?" type="TestResult" />

                            <xs:element name="LocalCorpusStorageDirectory" maxOccurs="1" minOccurs="1" ann:documentation="Does it move the Local Corpus files to a different directory?" type="TestResult" />

                            <xs:element name="EditLanguageList" maxOccurs="1" minOccurs="1" ann:documentation="Does the option show the language list; does it select languages?" type="TestResult" />

                            <xs:element name="Re-downloadCurrentVocabularies" maxOccurs="1" minOccurs="1" ann:documentation="Are the vocabularies updated (after a restart)?" type="TestResult" />

                            <xs:element name="SaveWindowsOnExit" maxOccurs="1" minOccurs="1" ann:documentation="Does it (not) save the windows on exit?" type="TestResult" />

                            <xs:element name="ShowSelectionPreview" maxOccurs="1" minOccurs="1" ann:documentation="Does the preview window (dis)appear, and does it show previews?" type="TestResult" />

                            <xs:element name="CheckForNewVersionOnStart" maxOccurs="1" minOccurs="1" ann:documentation="Does it (not) check for new versions on start?" type="TestResult" />

                            <xs:element name="CopyNewResourcesIntoCache" maxOccurs="1" minOccurs="1" ann:documentation="Does it copy new resources into cache (pay attention to the tooltip)?" type="TestResult" />

                            <xs:element name="CheckPermissionsForRemoteResources" maxOccurs="1" minOccurs="1" ann:documentation="Does it change icons accordingly (pay attention to the tooltip)?" type="TestResult" />

                            <xs:element name="AlwaysCheckLocalMetadataFilesForXMLConformance" maxOccurs="1" minOccurs="1" ann:documentation="Does it highlight invalid XML metadata in red (pay attention to the tooltip)?" type="TestResult" />

                            <xs:element name="TrackTableSelectionInTree" maxOccurs="1" minOccurs="1" ann:documentation="not implemented yet / when active selections in windows should be mirrored in the Local Corpus tree" type="TestResult" />

                            <xs:element name="ShowLanguageInColumnName" maxOccurs="1" minOccurs="1" ann:documentation="??? only _sometimes_ visible when clicking into Language.Description fields ??? hard to find" type="TestResult" />

                            <xs:element name="ColumnViewForNewTables" maxOccurs="1" minOccurs="1" ann:documentation="Are new tables opened with the appropriate Column View applied?" type="TestResult" />

                            <xs:element name="EditColumnViews" maxOccurs="1" minOccurs="1" ann:documentation="not implemented yet / this is to delete saved Column Views etc." type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="TemplatesTests" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="SignLanguageProfile" maxOccurs="1" minOccurs="1" ann:documentation="Go to 'Options' / 'Templates &amp; Profiles', activate 'Sign-Language Session (internal)', add auch a session" type="TestResult" />

                            <xs:element name="ProfileAddURL" maxOccurs="1" minOccurs="1" ann:documentation="From 'Templates &amp; Profiles' try to add a Clarin Profile via 'Add URL'" type="TestResult" />

                            <xs:element name="ProfileAddFile" maxOccurs="1" minOccurs="1" ann:documentation="From 'Templates &amp; Profiles' try to add a Clarin Profile via 'Add File'" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="HelpMenuTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="About" maxOccurs="1" minOccurs="1" ann:documentation="Does the 'About' window show?" type="TestResult" />

                            <xs:element name="Help" maxOccurs="1" minOccurs="1" ann:documentation="Is the help system working?" type="TestResult" />

                            <xs:element name="ArbilForum" maxOccurs="1" minOccurs="1" ann:documentation="Does a click here direct the web browser to the Arbil forum?" type="TestResult" />

                            <xs:element name="ErrorLog" maxOccurs="1" minOccurs="1" ann:documentation="Does it open the ErrorLog?" type="TestResult" />

                            <xs:element name="CheckUpdates" maxOccurs="1" minOccurs="1" ann:documentation="Does it notify find newer versions (when not using the latest version)?" type="TestResult" />

                            <xs:element name="ShortCutKeys" maxOccurs="1" minOccurs="1" ann:documentation="Does it open the appropriate page in the help viewer? Do the keys work?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="MultiLanguageTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="DescriptionChoise" maxOccurs="1" minOccurs="1" ann:documentation="Is a pull-down box with the selected languages available when entering a node description?" type="TestResult" />

                            <xs:element name="LongfieldEditor" maxOccurs="1" minOccurs="1" ann:documentation="Is there a means of choosing a description language in the longfield editor?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

    <xs:simpleType name="TestResult">

        <xs:restriction base="xs:string">

            <xs:enumeration value="Works" />

            <xs:enumeration value="Mostly" />
            
            <xs:enumeration value="Strange" />
            
            <xs:enumeration value="Fails" />

        </xs:restriction>

    </xs:simpleType>

</xs:schema>
