LamusTestingCheck4.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- This file is generated from Lamustestcases.txt! Modifications will be lost when regenerated! -->

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ann="http://www.clarin.eu">

    <xs:element name="BugCheck">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="DateTime" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The date time the test was started" ann:displaypriority="1"/>

                <xs:element name="ProgramVersion" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The version of the application being tested" />

                <xs:element name="OSVersion" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The operating system type and version being tested on" />


                <xs:element name="LamusMainPageTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="RegisterAsANewUsersTest" maxOccurs="1" minOccurs="1" ann:documentation="Select 'Register as a new user'. A 'Register New Lux17 LAMUS User' window should be displayed" type="TestResult" />

                            <xs:element name="NUT1" maxOccurs="1" minOccurs="1" ann:documentation="Enter the information and click 'Submit'. You should get a confirmation email from the corpus administration at the MPI" type="TestResult" />

                            <xs:element name="CreateNewWorkSpaceTest" maxOccurs="1" minOccurs="1" ann:documentation="Select 'Create new workspace'. If you are not logged in, you will be asked for your user ID and password" type="TestResult" />

                            <xs:element name="SelectTopNode" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a node and select 'select this node as top node for a new workspace'. A new workspace should be created." type="TestResult" />

                            <xs:element name="STN1" maxOccurs="1" minOccurs="1" ann:documentation="If the selected topnode is already part of a not yet submitted workspace you will get an error message" type="TestResult" />

                            <xs:element name="STN1a" maxOccurs="1" minOccurs="1" ann:documentation="Select 'Send bug report'" type="TestResult" />

                            <xs:element name="STN1b" maxOccurs="1" minOccurs="1" ann:documentation="Select 'back'. You should be redirected to the previous page" type="TestResult" />

                            <xs:element name="STN1c" maxOccurs="1" minOccurs="1" ann:documentation="Select 'Main Page'. You should be redirected to the main LAMUS page" type="TestResult" />

                            <xs:element name="SelectExistingWorkspaceTest" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Select existing workspace'. An 'Ingest Request Choiche' window should be displayed" type="TestResult" />

                            <xs:element name="SEWT" maxOccurs="1" minOccurs="1" ann:documentation="Select a workspace from the list and click 'choose'. You should be redirected to the selected workspace" type="TestResult" />

                            <xs:element name="RequestStorageSpaceTest" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Request storage space'. A 'Request Storage Space' window should be displayed" type="TestResult" />

                            <xs:element name="RSST1" maxOccurs="1" minOccurs="1" ann:documentation="Enter the space in Megabyte, click 'Submit'. A 'Request Storage Space' should be displayed. Click 'Back' to go to the main LAMUS page" type="TestResult" />

                            <xs:element name="ManagementConsoleTest" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Management Console'. If you are not allowed the access will be denied. An error message will inform you" type="TestResult" />

                            <xs:element name="MCT1" maxOccurs="1" minOccurs="1" ann:documentation="Select 'Send bug report" type="TestResult" />

                            <xs:element name="MCT2" maxOccurs="1" minOccurs="1" ann:documentation="Select 'back'. You should be redirected to the previous page" type="TestResult" />

                            <xs:element name="MCT3" maxOccurs="1" minOccurs="1" ann:documentation="Select 'Main Page'. You should be redirected to the main LAMUS page" type="TestResult" />

                            <xs:element name="Lux17LAMUSOn-lineManualTest" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Lux17 LAMUS on-line manual'. The website 'http://www.lat-mpi.eu/tools/lamus/manual/' should be in a new window" type="TestResult" />

                            <xs:element name="AboutLux17LAMUSTest" maxOccurs="1" minOccurs="1" ann:documentation="Click 'About Lux17 LAMUS'. An 'About Lux17 LAMUS' window should be open" type="TestResult" />

                            <xs:element name="AL17LT1" maxOccurs="1" minOccurs="1" ann:documentation="Click 'back': you should be redirected to the previous interaction window" type="TestResult" />

                            <xs:element name="AL17LT2" maxOccurs="1" minOccurs="1" ann:documentation="Change Icon set: this option is not functional at the moment" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="WorkspaceManagmentTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="TreeMenuTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a node. The various management functions should be shown in a pop-up menu" type="TestResult" />

                            <xs:element name="TMT1" maxOccurs="1" minOccurs="1" ann:documentation="the pop-up menu for the top node should have the following functions: link, view, add corpus, and modify node" type="TestResult" />

                            <xs:element name="TMT2" maxOccurs="1" minOccurs="1" ann:documentation="the pop-up menu for a corpus node should have the following functions: link, view, add corpus, modify, delete, unlink, node and replace tree" type="TestResult" />

                            <xs:element name="TMT3" maxOccurs="1" minOccurs="1" ann:documentation="the pop-up menu for a session node should have the following functions: link, view, modify, delete, unlink, duplicate node and replace tree" type="TestResult" />

                            <xs:element name="TMT4" maxOccurs="1" minOccurs="1" ann:documentation="the pop-up menu for a media/ written file should have the following functions: view, rename, replace, delete, and unlink resource" type="TestResult" />

                            <xs:element name="TMT5" maxOccurs="1" minOccurs="1" ann:documentation="the pop-up menu for an info file should have the following functions: view, replace, rename, delete, unlink info file and change description" type="TestResult" />

                            <xs:element name="TMT6" maxOccurs="1" minOccurs="1" ann:documentation="the pop-up menu for a protected node should have the following functions: view, delete, and unlink node" type="TestResult" />

                            <xs:element name="TMT7" maxOccurs="1" minOccurs="1" ann:documentation="the pop-up menu for a catalogue node should have the following functions: link, view, modify, delete, and unlink node" type="TestResult" />

                            <xs:element name="TMT8" maxOccurs="1" minOccurs="1" ann:documentation="the pop-up menu for a lexicon metadata resource should have the following functions: " type="TestResult" />

                            <xs:element name="ViewNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a node and select 'view node'; its metadata should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="VNT1" maxOccurs="1" minOccurs="1" ann:documentation="Click the icons in the main interaction window. The metadata information for the corresponding elements should be extended/collapsed" type="TestResult" />

                            <xs:element name="AddCorpusNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a corpus node and select 'add corpus node'; an 'Add Node' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="CancelAddNode" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel', the 'Add Node' window should be closed" type="TestResult" />

                            <xs:element name="ResetAddNode" maxOccurs="1" minOccurs="1" ann:documentation="Enter the name and title in the appropriate fields of the 'Add Node' window and click 'Reset': is the 'Add Node' window resetted?" type="TestResult" />

                            <xs:element name="SubmitNewCorpusNode" maxOccurs="1" minOccurs="1" ann:documentation="Enter the name and title in the 'Add Node' window and click 'Submit': Is the new corpus node added to the tree structure?" type="TestResult" />

                            <xs:element name="ModifyNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a node, select 'modify node'; a 'Change Node' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="ResetChangeNode" maxOccurs="1" minOccurs="1" ann:documentation="Enter the information to add in the 'Change Node' window and click 'Reset': is the 'Change Node' window resetted?" type="TestResult" />

                            <xs:element name="CancelChangeNode" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Change Node' window should be closed" type="TestResult" />

                            <xs:element name="SubmitModifiedNode" maxOccurs="1" minOccurs="1" ann:documentation="Enter new information in the 'Change Node' window and click 'Submit': is the node successfully modified?" type="TestResult" />

                            <xs:element name="DeleteNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a node, select 'delete node'; is a 'Delete Node' window in the main interaction window?" type="TestResult" />

                            <xs:element name="CancelDeleteNode" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel', the 'Delete Node' window should be closed" type="TestResult" />

                            <xs:element name="DeleteDeleteNode" maxOccurs="1" minOccurs="1" ann:documentation="From the 'Delete Node' window click 'Delete Node': is the selected node (and children if any) deleted from the tree structure?" type="TestResult" />

                            <xs:element name="UnlinkNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a node; select 'unlink node': is an 'Unlink Node' window in the main interaction window?" type="TestResult" />

                            <xs:element name="CancelUnlinkNode" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel', the 'Unlink Node' window should be closed" type="TestResult" />

                            <xs:element name="UN1" maxOccurs="1" minOccurs="1" ann:documentation="From 'Unlink Node' window click the checkbox; click 'Unlink Node'; Is the node and its contents separately moved to the unlinked files?" type="TestResult" />

                            <xs:element name="UN1a" maxOccurs="1" minOccurs="1" ann:documentation="Did the selected node disappear from the tree structure?" type="TestResult" />

                            <xs:element name="UN2" maxOccurs="1" minOccurs="1" ann:documentation="From 'Unlink node' window click 'Unlink Node'; Is the node and its contents moved as a unit to the unlinked files?" type="TestResult" />

                            <xs:element name="UN2a" maxOccurs="1" minOccurs="1" ann:documentation="Did the selected node disappear from the tree structure?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="UnlinkNodeWithMultipleParentsTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="UNWMP1" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a node with multiple parents; select 'unlink node': is an 'Unlink Node' window in the main interaction window?" type="TestResult" />

                            <xs:element name="UNWMP2" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Unlink Node' window should be closed" type="TestResult" />

                            <xs:element name="UNWMP3" maxOccurs="1" minOccurs="1" ann:documentation="From the 'Unlink Node' window click the first checkbox; click 'Unlink Node'; is the selected node unlinked from all its parent nodes?" type="TestResult" />

                            <xs:element name="UNWMP3a" maxOccurs="1" minOccurs="1" ann:documentation="Is the node and its contents separately moved to the unlinked files?" type="TestResult" />

                            <xs:element name="UNWMP3b" maxOccurs="1" minOccurs="1" ann:documentation="Did the selected node(s) disappear from the tree structure?" type="TestResult" />

                            <xs:element name="UNWMP4" maxOccurs="1" minOccurs="1" ann:documentation="From 'Unlink Node' window click the second checkbox; click 'Unlink Node'; is the selected node unlinked from all its parent nodes?" type="TestResult" />

                            <xs:element name="UNWMP4a" maxOccurs="1" minOccurs="1" ann:documentation="Is the node and its contents moved as a unit to the unlinked files?" type="TestResult" />

                            <xs:element name="UNWMP4b" maxOccurs="1" minOccurs="1" ann:documentation="Did the selected node(s) disappear from the tree structure?" type="TestResult" />

                            <xs:element name="UNWMP5" maxOccurs="1" minOccurs="1" ann:documentation="From 'Unlink Node' window click 'Unlink Node'; is the selected node unlinked only from one node?" type="TestResult" />

                            <xs:element name="UNWMP5a" maxOccurs="1" minOccurs="1" ann:documentation="The node should not show up in the unlinked nodes list" type="TestResult" />

                            <xs:element name="UNWMP5b" maxOccurs="1" minOccurs="1" ann:documentation="Did the selected node disappear from the tree structure?" type="TestResult" />

                            <xs:element name="UNWMP6" maxOccurs="1" minOccurs="1" ann:documentation="From 'Unlink Node' window click the checkboxes; click 'Unlink Node'; Is the node and its contents separately moved to the unlinked files?" type="TestResult" />

                            <xs:element name="UNWMP6a" maxOccurs="1" minOccurs="1" ann:documentation="Did the unlinking selected node(s) disappear from the tree structure?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="LinkNodeTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="LinkCorpusNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a corpus node and select 'Link Node'; The various Link Node management functions should be shown in a pop-up menu" type="TestResult" />

                            <xs:element name="LinkInfoFile" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link info file'. A 'Free Info File Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LIF1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a txt-file?" type="TestResult" />

                            <xs:element name="LTF2" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a html-file?" type="TestResult" />

                            <xs:element name="LTF3" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a PDF-file?" type="TestResult" />

                            <xs:element name="LinkCorpusNode" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link corpus node'. A 'Free Corpus Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LCN1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link an unlinked corpus node?" type="TestResult" />

                            <xs:element name="LinkSessionNode" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link session node'. A 'Free Session Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LSN1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link an unlinked session node?" type="TestResult" />

                            <xs:element name="LinkCatalogueNode" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link catalogue node'. A 'Free Catalogue Node' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LCN1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a catalogue node?" type="TestResult" />

                            <xs:element name="LinkExternalNode" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link external node'. A 'create an external link' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LEN1" maxOccurs="1" minOccurs="1" ann:documentation="Enter the url and specify the file type from the pull down menu: is it possible to submit it?" type="TestResult" />

                            <xs:element name="LEN2" maxOccurs="1" minOccurs="1" ann:documentation="Enter the information to add in the 'create an external link' window and click 'Reset': is the 'create an external link' window resetted?" type="TestResult" />

                            <xs:element name="LEN3" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'create an external link' window should be closed" type="TestResult" />

                            <xs:element name="LinkArchiveNode" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link archive node (outside workspace!)'. A corpus tree should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LAN1" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a corpus/session node in the main interaction window, select 'select this node as link target'. Is the node linked?" type="TestResult" />

                            <xs:element name="LAN1a" maxOccurs="1" minOccurs="1" ann:documentation="If you right click on an inappropriate node, 'node of this type cannot be linked from the selected node' should pop-up" type="TestResult" />

                            <xs:element name="LAN2" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a info node in the main interaction window, 'select this node as link target' should pop-up" type="TestResult" />

                            <xs:element name="LAN2a" maxOccurs="1" minOccurs="1" ann:documentation="Select 'select this node as link target', a 'Link Node' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LAN2b" maxOccurs="1" minOccurs="1" ann:documentation="Enter the information to add in the 'Link Node' window and click 'Reset': is the 'Link Node' window resetted?" type="TestResult" />

                            <xs:element name="LAN2c" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Link Node' window should be closed" type="TestResult" />

                            <xs:element name="LAN2d" maxOccurs="1" minOccurs="1" ann:documentation="Enter new information in the 'Link Node' window and click 'Submit': is the node successfully modified and linked?" type="TestResult" />

                            <xs:element name="LinkMultipleNodes" maxOccurs="1" minOccurs="1" ann:documentation="From the tree structure select a node, hold the CTRL key, select another node, right click. A pop-up menu should be shown" type="TestResult" />

                            <xs:element name="LMN1" maxOccurs="1" minOccurs="1" ann:documentation="From the pop-up menu click 'link selected nodes'. A 'Link Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LMN1a" maxOccurs="1" minOccurs="1" ann:documentation="From the 'Link Nodes'window click 'Cancel': the 'Link Node' window should be closed" type="TestResult" />

                            <xs:element name="LMN1b" maxOccurs="1" minOccurs="1" ann:documentation="From the 'Link Nodes'window click 'Link Nodes'. Are the nodes successfully linked?" type="TestResult" />

                            <xs:element name="LMN1bi" maxOccurs="1" minOccurs="1" ann:documentation="If yes, Are the linked nodes in bold italic in the tree view?" type="TestResult" />

                            <xs:element name="LMN1bii" maxOccurs="1" minOccurs="1" ann:documentation="If you the nodes cannot be linked you will get an error message in the main interaction window" type="TestResult" />

                            <xs:element name="LinkSessionNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a session node and select 'Link Node'; The various Link Node management functions should be shown in a pop-up menu" type="TestResult" />

                            <xs:element name="LinkInfoFile" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link info file'. A 'Free Info File Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LIF1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a txt-file?" type="TestResult" />

                            <xs:element name="LIF2" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a html-file?" type="TestResult" />

                            <xs:element name="LTF3" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a PDF-file?" type="TestResult" />

                            <xs:element name="LinkMediaFile" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link media file'. A 'Free Media Resource Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LMF1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a video file?" type="TestResult" />

                            <xs:element name="LMF2" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link an audio file?" type="TestResult" />

                            <xs:element name="LMF3" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a picture?" type="TestResult" />

                            <xs:element name="LinkWrittenResource" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link written resource'. A 'Free Written Resource Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LWR1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a resource other than video-, audio-files or pictures?" type="TestResult" />

                            <xs:element name="LinkLex.MDResource" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link lexicon metadata resource'. A 'Free Lexicon Resource Node' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LLMR1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a Lexicon Metadata Resource?" type="TestResult" />

                            <xs:element name="LinkExternalNode" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link external node'. A 'Create An External Link' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LEN2" maxOccurs="1" minOccurs="1" ann:documentation="Enter the url and specify the file type from the pull down menu: is it possible to submit it?" type="TestResult" />

                            <xs:element name="LinkArchiveNode" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link archive node (outside workspace!)'. A corpus tree should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LAN1" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a info/media file in the main interaction window, 'select this node as link target' should pop-up" type="TestResult" />

                            <xs:element name="LAN1a" maxOccurs="1" minOccurs="1" ann:documentation="Select 'select this node as link target', a 'Link Node' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LAN1b" maxOccurs="1" minOccurs="1" ann:documentation="Enter the information to add in the 'Link Node' window and click 'Reset': is the 'Link Node' window resetted?" type="TestResult" />

                            <xs:element name="LAN1c" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Link Node' window should be closed" type="TestResult" />

                            <xs:element name="LAN1d" maxOccurs="1" minOccurs="1" ann:documentation="Enter new information in the 'Link Node' window and click 'Submit': is the node successfully modified and linked?" type="TestResult" />

                            <xs:element name="LAN2" maxOccurs="1" minOccurs="1" ann:documentation="If you right click on an inappropriate node, 'node of this type cannot be linked from the selected node' should pop-up" type="TestResult" />

                            <xs:element name="LinkCatalogueNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a catalogue node and select 'Link Node'; The various Link Node management functions should be shown in a pop-up menu" type="TestResult" />

                            <xs:element name="LinkInfoFile" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link info file'. A 'Free Info File Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LIF1" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a txt-file?" type="TestResult" />

                            <xs:element name="LIF2" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a html-file?" type="TestResult" />

                            <xs:element name="LTF3" maxOccurs="1" minOccurs="1" ann:documentation="Is it possible to link a PDF-file?" type="TestResult" />

                            <xs:element name="LinkExternalNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link external node'. A 'Create An External Link' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LEN2" maxOccurs="1" minOccurs="1" ann:documentation="Enter the url and specify the file type from the pull down menu: is it possible to submit it?" type="TestResult" />

                            <xs:element name="LinkArchiveNodeTest" maxOccurs="1" minOccurs="1" ann:documentation="Select 'link archive node (outside workspace!)'. A corpus tree should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LAN1" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a info file in the main interaction window, 'select this node as link target' should pop-up" type="TestResult" />

                            <xs:element name="LAN1a" maxOccurs="1" minOccurs="1" ann:documentation="Select 'select this node as link target', a 'Link Node' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="LAN1b" maxOccurs="1" minOccurs="1" ann:documentation="Enter the information to add in the 'Link Node' window and click 'Reset': is the 'Link Node' window resetted?" type="TestResult" />

                            <xs:element name="LAN1c" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Link Node' window should be closed" type="TestResult" />

                            <xs:element name="LAN1d" maxOccurs="1" minOccurs="1" ann:documentation="Enter new information in the 'Link Node' window and click 'Submit': is the node successfully modified and linked?" type="TestResult" />

                            <xs:element name="LAN2" maxOccurs="1" minOccurs="1" ann:documentation="If you right click on an inappropriate node, 'node of this type cannot be linked from the selected node' should pop-up" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="ReplaceTreeTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="RTTforCorpusNode" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a corpus node and select 'replace tree'. A 'Free Corpus Nodes' window should be in the main interaction window" type="TestResult" />

                            <xs:element name="RTTforSessionNode" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a session node and select 'replace tree'. Is a 'Free Session Nodes' window in the main interaction window?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="DuplicateNodeTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="DuplicateNode" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a session node and select 'duplicate node'. A 'Duplicate Nodes' window should be in the main interaction window" type="TestResult" />

                            <xs:element name="DSNT1" maxOccurs="1" minOccurs="1" ann:documentation="Enter the information to add in the 'Duplicate Nodes' window and click 'Generate':Are the duplicated nodes in the Unlinked files?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="ResourceTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="Resource" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a resource. The management functions should be displayed in a pop-up menu" type="TestResult" />

                            <xs:element name="ViewResource" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a resource and select 'view resource'; the main interaction window should show the contents of the selected file" type="TestResult" />

                            <xs:element name="RenameResource" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a resource and select 'Rename Resource'; a 'Rename Node' window should be in the main interaction window" type="TestResult" />

                            <xs:element name="RRT1" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Rename Node' window should be closed" type="TestResult" />

                            <xs:element name="RRT2" maxOccurs="1" minOccurs="1" ann:documentation="Enter the new name and click 'Rename Node'; is the selected node renamed?" type="TestResult" />

                            <xs:element name="ReplaceResource" maxOccurs="1" minOccurs="1" ann:documentation="Right click on a resource and select 'Replace Resource'; is a 'Free Media resource Nodes' window in the main interaction window" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="InfoFileTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="InfoFile" maxOccurs="1" minOccurs="1" ann:documentation="Right click on an info file. The management functions should be displayed in a pop-up menu" type="TestResult" />

                            <xs:element name="ViewInfoFile" maxOccurs="1" minOccurs="1" ann:documentation="Right click on an info file and select 'view info file'; the content of the file should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="ChangeDescription" maxOccurs="1" minOccurs="1" ann:documentation="Right click on an info file, select 'change description'; is a 'Change the description' window in the main interaction window?" type="TestResult" />

                            <xs:element name="CD1" maxOccurs="1" minOccurs="1" ann:documentation="Enter the information to add in the 'Change the description' window and click 'Reset': is the window resetted?" type="TestResult" />

                            <xs:element name="CD2" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Change the description' window should be closed" type="TestResult" />

                            <xs:element name="CD3" maxOccurs="1" minOccurs="1" ann:documentation="Enter new information in the 'Change the description' window and click 'Submit': is the node successfully modified?" type="TestResult" />

                            <xs:element name="RenameInfoFile" maxOccurs="1" minOccurs="1" ann:documentation="Right click on an info file and select 'Rename info file'; a 'Rename Node' window should be in the main interaction window" type="TestResult" />

                            <xs:element name="RRT1" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Rename Node' window should be closed" type="TestResult" />

                            <xs:element name="RRT2" maxOccurs="1" minOccurs="1" ann:documentation="Enter the new name and click 'Rename Node'; is the selected node renamed?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

                <xs:element name="LAMUSFunctionButtonsTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="UploadFiles" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Upload Files'. A 'Upload Resources' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="UF1" maxOccurs="1" minOccurs="1" ann:documentation="Click the 'Browse' button and select the resources to add from your PC. Open the files: they should be shown in the graphical window" type="TestResult" />

                            <xs:element name="UF2" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Upload' to start the transfer: does the blue status bar represent the progress?" type="TestResult" />

                            <xs:element name="UF3" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Upload' to start the transfer and click the 'Stop'button: is the ongoing transfer cancelled?" type="TestResult" />

                            <xs:element name="UF4" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Upload' to start the transfer: an 'Upload Result' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="UF5" maxOccurs="1" minOccurs="1" ann:documentation="Do UF4. Are the uploaded files in the unlinked files container of the workspace?" type="TestResult" />

                            <xs:element name="RequestStorage" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Request Storage'. A 'Request Storage Space' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="RS1" maxOccurs="1" minOccurs="1" ann:documentation="Enter the desired amount in Megabytes and click 'Submit'. A 'Request Storage Space' window should be in the main interaction window" type="TestResult" />

                            <xs:element name="RS2" maxOccurs="1" minOccurs="1" ann:documentation="Do RS1. An email notification should be sent to the user after completion" type="TestResult" />

                            <xs:element name="RS3" maxOccurs="1" minOccurs="1" ann:documentation="Do RS1 and click 'Back' from the 'Request Storage Space' window. You should be redirected to the previous interaction window" type="TestResult" />

                            <xs:element name="UnlinkedFiles" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Unlinked Files'; a 'Free Nodes' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="UF1" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Select All'. Are all the files selected?" type="TestResult" />

                            <xs:element name="UF2" maxOccurs="1" minOccurs="1" ann:documentation="Clcik 'Deselect All'. Are all the files previously selected deselected?" type="TestResult" />

                            <xs:element name="UF3" maxOccurs="1" minOccurs="1" ann:documentation="Select a file, click 'Delete Selected'. Is a 'Response to Change Request' window in the main interaction window? Is the file deleted?" type="TestResult" />

                            <xs:element name="SubmitWorkspace" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Submit Workspace'. A 'Submit Workspace' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="SW1" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Submit Workspace' window should be closed" type="TestResult" />

                            <xs:element name="SaveAndLogout" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Save and Logout'. A short message will show the User name, Used Space, Available Space, Free Nodes, and errors (if any)" type="TestResult" />

                            <xs:element name="SAL1" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Return to main page'. You should be redirected to the main LAMUS page" type="TestResult" />

                            <xs:element name="SAL2" maxOccurs="1" minOccurs="1" ann:documentation="Do SAL1, click 'Select existing workspace', select a previously saved workspace, click 'choose': you should be able to work on it again" type="TestResult" />

                            <xs:element name="DeleteWorkspace" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Delete Workspace'. A 'Delete Ingest Request' window should be displayed in the main interaction window" type="TestResult" />

                            <xs:element name="DW1" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Cancel': the 'Delete Ingest Request' window should be closed" type="TestResult" />

                            <xs:element name="DW2" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Delete': a 'deleted workspace' window shpuld be displayed on your screen" type="TestResult" />

                            <xs:element name="DW2a" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Main Page' from the 'deleted workspace' window. You should be redirected to the main LAMUS page" type="TestResult" />

                            <xs:element name="Help" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Help'. The main interaction window should show a brief description of the various functions of LAMUS" type="TestResult" />

                            <xs:element name="ReportABug" maxOccurs="1" minOccurs="1" ann:documentation="Click 'Report a Bug'. LAMUS Version 1.1.3 reports an error message" type="TestResult" />

                            <xs:element name="About" maxOccurs="1" minOccurs="1" ann:documentation="Click 'About'. A new page shows information about Lamus Version Info, My Lamus Info and Personal Preferences" type="TestResult" />

                            <xs:element name="A1" maxOccurs="1" minOccurs="1" ann:documentation="Click 'back': you should be redirected to the previous interaction window" type="TestResult" />

                            <xs:element name="A2" maxOccurs="1" minOccurs="1" ann:documentation="Change Icon set: this option is not functional at the moment" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

    <xs:simpleType name="TestResult">

        <xs:restriction base="xs:string">

            <xs:enumeration value="Works" />

            <xs:enumeration value="Mostly" />
            
            <xs:enumeration value="Strange" />
            
            <xs:enumeration value="Fails" />

        </xs:restriction>

    </xs:simpleType>

</xs:schema>
