TestingTestingCheck4.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- This file is generated from Testingtestcases.txt! Modifications will be lost when regenerated! -->

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ann="http://www.clarin.eu">

    <xs:element name="BugCheck">

        <xs:complexType>

            <xs:sequence>

                <xs:element name="DateTime" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The date time the test was started" ann:displaypriority="1"/>

                <xs:element name="ProgramVersion" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The version of the application being tested" />

                <xs:element name="OSVersion" type="xs:string" maxOccurs="1" minOccurs="1" ann:documentation="The operating system type and version being tested on" />


                <xs:element name="LineBreakTest" minOccurs="1" maxOccurs="unbounded">

                    <xs:complexType>

                        <xs:sequence>

                            <xs:element name="TestWithN" maxOccurs="1" minOccurs="1" ann:documentation="This uses the default newline charactern Now we should be in a new line." type="TestResult" />

                            <xs:element name="TestWithBr" maxOccurs="1" minOccurs="1" ann:documentation="This is an attempt with HTML br <br> Probably this will still be in the same line." type="TestResult" />

                            <xs:element name="ActualLineBreakTest" maxOccurs="1" minOccurs="1" ann:documentation="What does Arbil make of this? A new line?" type="TestResult" />

                            <xs:element name="ErrorDescription" maxOccurs="unbounded" minOccurs="1" type="xs:string" ann:documentation="Description of errors in this test node. Can exist multiple times." />

                        </xs:sequence>

                    </xs:complexType>

                </xs:element>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

    <xs:simpleType name="TestResult">

        <xs:restriction base="xs:string">

            <xs:enumeration value="Works" />

            <xs:enumeration value="Mostly" />
            
            <xs:enumeration value="Strange" />
            
            <xs:enumeration value="Fails" />

        </xs:restriction>

    </xs:simpleType>

</xs:schema>
